html{
    --color: #636363;
    --bg_color: #f8f8f8;
}
html[data-theme='dark']{
    --color: #ebeefd;
    --bg_color: #262c49;
}

body{
    background-color: var(--bg_color);
    color: var(--color);
    font-family: $font_family;
    font-size: 16px;
}

.row > div > div{
    height: 100%;
}