@mixin light($color) {
    -webkit-box-shadow: 0 0 10px 1px rgba($color, 0.75);
    -moz-box-shadow: 0 0 10px 1px rgba($color, 0.75);
    box-shadow: 0 0 10px 1px rgba($color, 0.75);
}

@mixin gradient($color) {
    background: linear-gradient(118deg,$color,darken($color, 5%))
}

@mixin hover_color {
    @each $color, $type in $types {
        &.#{$type}{
            color: $color;
            &:hover{
                transition: .5s;
                color: darken($color, 15%);
            }
        }
    }
}

@mixin background {
    @each $color, $type in $types {
        &.#{$type}{
            background-color: $color;
        }
    }
}