$primary: #10163a;
$secondary: #7367f0;
$success: #28c76f;
$error: #ea5455;
$warning: #ff9f43;
$info: #00cfe8;

$bg_dark_color: #262c49;
$bg_light_color: #f8f8f8;
$dark_color: #ebeefd;
$light_color: #636363;

$font_family: 'Montserrat', sans-serif;

$types: 
    $primary 'primary', 
    $secondary 'secondary', 
    $success 'success', 
    $error 'error', 
    $warning 'warning', 
    $info 'info';
