@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@import "variable";
@import "reset";
@import "typography";
@import "common";

/* Plugins */
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/font-awesome/scss/font-awesome";