@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@import "variable";
@import "reset";
@import "typography";
@import "common";
@import "mixins";

/* Plugins */
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "../node_modules/font-awesome/scss/font-awesome";

/* Layouts */
@import "layouts/main";

/* Components */
@import "components/i";
@import "components/radio";
@import "components/button";
@import "components/checkbox";
@import "components/dialog";
@import "components/pagination";
@import "components/input";
@import "components/modal";

/* ToDo */
@import "todo/todo";
@import "todo/todo_item";
@import "todo/board";