button{
    &.text{
        padding: 0;
        background: rgba(0,0,0,0);
        border: none;
        color: var(--color);
        @include hover_color();
    }
    &.default{
        color: white;
        border: none;
        padding: 8px 10px;
        border-radius: $border-radius;
        @include gradient($secondary);
        &:hover{
            transition: .5s;
            @include light($secondary);
        }
    }
}