$checkbox_size: 18px;

.checkbox{
    display: inline-block;
    cursor: pointer;
    .button{
        display: inline-block;
        width: $checkbox_size;
        height: $checkbox_size;
        border: 2px solid var(--color);
        border-radius: 4px;
        position: relative;
        &.square{
            i{
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    span{
        vertical-align: text-top;
    }
    @each $color, $type in $types {
        & .button.#{$type}{
            border: 2px solid $color;
            &.circle{
                div{
                    background: $color;
                }
            }
        }
    }
}