select.default{
    border-radius: $border_radius;
    width: 100%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 8px 12px;
    border: none;
    font-family: $font_family;
    &:focus{
        border: 2px solid $secondary;
        padding: 6px 10px;
    }
}